.nav-link {
  font-family: Impact, sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  margin-right: 30px;
}

.nav-link:hover {
  color: rgb(182, 215, 243);
}

.jumbotron {
  background-image: url("../gambar/gedunngfkom2.jpg");
  background-size: cover;
  height: 500px;
}

@media (min-width: 992px) {
  .nav-link {
    font-family: Impact, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    margin-right: 30px;
  }
}
